<!DOCTYPE html>
<html> 
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
<title>The Wolfpack Post</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="text-center">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <form action="/news" method="post" class="navbar-form navbar-center" name="test">
    <div class="btn-group">
  <input type="submit" name="submit" value="Dailymail" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="CNN" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="The New York Times" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="The Economist" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="The Atlantic" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="BBC" class="btn btn-primary btn-lg "/>
  <input type="submit" name="submit" value="The Guardian" class="btn btn-primary btn-lg "/>
  </div>
</form>
  </div>
</nav>
</div>

<div id="wrapper">
    <input onclick='responsiveVoice.speak("{{summary}}");' type='button' value='Play Audio' />
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Feed</a></p>
        <div style="clear:both"></div>
    </div>
     
    <div id="newsfeed">{{content}}
   
	
</div>
     
  
</div>


 
</body>
</html>
